.font-18{
    font-size: 18px;
}
.form-control {
    height: 37px;
}
.updatebutton{
    padding-bottom: 22px;
    margin-top: 10px;
    padding-bottom: 29px;
    font-size: 16px;
}
.btn{
    font-size: 15px;
}

.mt-60{
    margin-top: 60px;
}
.mt-20{
    margin-top: 20px;
}
.text-22{
    font-size: 22px !important;
}
